<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
	<style type="text/css">
	body{
		padding: 1em;
	}
	table{
		border-collapse: collapse;
		margin: 1em 0;
	}
	td {
		border: solid 1px #ddd;
		padding: .5em;
		vertical-align: middle;
	}
	td label{
		display: block;
	}
	.selected{
		color: #0f0
	}
	</style>
</head>

<body>
	<div id="test">
	</div>
	<div id="app">
		<div id="event">
			<div @click.stop.self="console.log('div')">
				div
				<button>button</button>
				<a href="http://baidu.com" @click.prevent.stop="console.log('a')">baidu</a>
				<input @keyup.13="console.log($event)">
			</div>
		</div>
		<!--  -->
		<table id="base">
			<tr>
				<td>n:{{++n}} </td>
				<td>{{compute}}</td>
				<td text="'text:'+model"></td>
				<td html="'html:'+'<b>'+model"></td>
				<td :title="'this is title: ' + model">:title</td>
				<td :class={selected:model}>:class</td>
				<td :style="{color:model}">:style</td>
				<td show="model">show</td>
				<td hide="model">hide</td>
				<td>
					<i if="n%2==0">if {{n}}%2==0</i>
					<i elseif="n%3==0">elseif {{n}}%3==0</i>
					<i else>else {{n}}</i>
				</td>
			</tr>
		</table>
		<!--  -->
		<table id="form">
			<tr>
				<td> <input model="model"> </td>
				<td> <textarea model.number="model"></textarea> </td>
				<td>
					<select model="model" size="4">
						<option for="item in array" :value="item">{{item}}</option>
					</select>
					<select model="array" multiple>
						<option value="value">value</option>
						<option :value="string">string</option>
						<option :value="number">number</option>
						<option :value="object">object</option>
					</select>
				</td>
				<td>
					<input model="model" type="checkbox">
				</td>
				<td>
					<label><input type="checkbox" model="array" value="value">value</label>
					<label><input type="checkbox" model="array" :value="string">string</label>
					<label><input type="checkbox" model="array" :value="number">number</label>
					<label><input type="checkbox" model="array" :value="object">object</label>
				</td>
				<td>
					<label><input type="radio" model="model" value="value">value</label>
					<label><input type="radio" model="model" :value="string">string</label>
					<label><input type="radio" model="model" :value="number">number</label>
					<label><input type="radio" model="model" :value="object">object</label>
				</td>
			</tr>
		</table>
		<!--  -->
		<table id="for">
			<tr>
				<td colspan="3" style="text-align:center">
					<input autofocus model="model" @keyup.ctrl.enter.prevent.stop="add(model);model=''">
					<input model.number.lazy="model" @keyup="console.log($event)">
				</td>
			</tr>
			<tr for="(item, i) in list" if="item.status!='delete'">
				<td>{{i}}/{{list.length}}:{{item.status}}</td>
				<td :title="item.text">
					<input model="item.text">
				</td>
				<td>
					<button if="item.status!='done'" @click="item.status='done'">done</button>
					<button if="item.status=='done'" @click="item.status='open'">open</button>
					<button @click="del(i)">del</button>
				</td>
			</tr>
		</table>
		<!--  -->
		<table>
			<tr for="(item, key, index) in object">
				<td>{{index}}</td>
				<td>{{key}}</td>
				<td>{{item}}</td>
			</tr>
		</table>
		<!--  -->
		<div for="item in list" is="tag">todo is+for+if</div>
		<div>
			<div is="ul"></div>
		</div>
	</div>
	<div id="tag" style="display:none">
		<span>
			<i>tag:</i>
			<button @click="n++"> {{n}} </button>
		</span>
	</div>
	<div id="ul" style="display:none">
		<ul>
			<li v-for="item in list">
				{{item}}
				<div is="ol"></div>
			</li>
		</ul>
	</div>
	<div id="ol" style="display:none">
		<ol>
			<li v-for="item in list">
				{{item}}
			</li>
		</ol>
	</div>
	<script src="vm.js"></script>
	<script>
		Vue.componment('ul', {
			template: ul.innerHTML,
			data: {
				list: [1,2,3]
			}
		})
		Vue.componment('ol', {
			template: ol.innerHTML,
			data: {
				list: [7,8,9]
			}
		})
	</script>
	<script>
	Vue.componment('tag', {
		template: tag.innerHTML,
		data: function() {
			return {
				n: 0,
				date: new Date
			}
		},
		methods: {
			x: function () {
				return new Date().getTime()
			}
		},
		mounted: function () {
			var self = this
			// console.log(self)
		}
	})

	/*
	todo:
	V({
		el: '#app',
		data: {
			model: 'V.js',
			compute: function(){
				return this.model + '!'
			},
			sayHello: function(){
				alert('Hello, ' + this.compute)
			}
		}
	})
	*/
	vm = vue = new Vue({
		el: '#app',
		data: {
			n: 0,
			string: 'string',
			number: 1,
			boolean: true,
			array: [],
			object: { key: 'value' },
			model: 'vm.js',
			list: [
				{ id:1, text:'todo1', status:'open', tags:['abc'] },
				{ id:2, text:'todo2', status:'open', tags:['abc'] }
			]
		},
		computed: {
			compute: function () {
				return 'computed:' + String(this.model).toUpperCase()
			}
		},
		methods: {
			add: function (text) {
				this.list.push({
					text: text
				})
			},
			del: function (i) {
				this.list.splice(i, 1)
			}
		}
		//,
		// mounted: function(){
		// 	this.add('mounted')
		// }
	})
	// setInterval(function(){
	// 	vm.$render()
	// }, 5)
	</script>
</body>

</html>