<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>async</title>
  <style>
    input {
      pointer-events: none;
      box-shadow: 0px 0px 5px 2px #f00;
    }

    :checked {
      box-shadow: 0px 0px 5px 2px #00ff0a;
    }

    :disabled {
      opacity: 0;
    }
  </style>
</head>

<body>

  <ul id="app">
    <li><input v-model="S.setTimeout" type="checkbox">setTimeout</li>
    <li><input v-model="S.setTimeoutSetTimeout" type="checkbox">setTimeoutSetTimeout</li>

    <li><input v-model="S.xhr" type="checkbox">xhr</li>
    <li><input v-model="S.xhrSetTimeout" type="checkbox">xhrSetTimeout</li>

    <li><input v-model="S.fetch" type="checkbox">fetch</li>
    <li><input :disabled="S.fetchCatch" v-model="S.fetchThen" type="checkbox">fetchThen</li>
    <li><input :disabled="S.fetchCatch" v-model="S.fetchThenSetTimeout" type="checkbox">fetchThenSetTimeout</li>
    <li><input :disabled="S.fetchThen" v-model="S.fetchCatch" type="checkbox">fetchCatch</li>
    <li><input v-model="S.fetchFinally" type="checkbox">fetchFinally</li>
    <li><input v-model="S.fetchFinallySetTimeout" type="checkbox">fetchFinallySetTimeout</li>

    <li><input v-model="S.promise" type="checkbox">promise</li>
    <li><input v-model="S.promiseSetTimeout" type="checkbox">promiseSetTimeout</li>
    <li><input :disabled="S.promiseCatch" v-model="S.promiseThen" type="checkbox">promiseThen</li>
    <li><input :disabled="S.promiseThen" v-model="S.promiseCatch" type="checkbox">promiseCatch</li>
    <li><input :disabled="S.promiseCatch" v-model="S.promiseThenSetTimeout" type="checkbox">promiseThenSetTimeout</li>
    <li><input v-model="S.promiseFinally" type="checkbox">promiseFinally</li>
    <li><input v-model="S.promiseFinallySetTimeout" type="checkbox">promiseFinallySetTimeout</li>
  </ul>

  <script>Proxy = null</script>
  <script src="../vm.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      el: app,
      data: {
        S: {
          setTimeout: false,
          setTimeoutSetTimeout: false,
          xhr: false,
          xhrSetTimeout: false,
          fetch: false,
          fetchThen: false,
          fetchThenSetTimeout: false,
          fetchCatch: false,
          fetchFinally: false,
          fetchFinallySetTimeout: false,
          promise: false,
          promiseSetTimeout: false,
          promiseThen: false,
          promiseThenSetTimeout: false,
          promiseCatch: false,
          promiseFinally: false,
          promiseFinallySetTimeout: false,
        }
      },
      methods: {
        setTimeout: function () {
          setTimeout(function () {
            vm.S.setTimeout = true
            setTimeout(function () {
              vm.S.setTimeoutSetTimeout = true
            }, 500)
          }, 500)
        },
        xhr: function () {
          var xhr = new XMLHttpRequest
          xhr.open('GET', '.')
          xhr.onreadystatechange = function () {
            vm.S.xhr = true
            setTimeout(function () {
              vm.S.xhrSetTimeout = true
            }, 500)
          }
          xhr.send()
        },
        fetch: function () {
          vm.S.fetch = true
          fetch(Math.random() > .5 ? 'x://' : 'http://github.com').then(function () {
            vm.S.fetchThen = true
            setTimeout(function () {
              vm.S.fetchThenSetTimeout = true
            }, 500)
          }).catch(function () {
            vm.S.fetchCatch = true
          }).finally(function () {
            vm.S.fetchFinally = true
            setTimeout(function () {
              vm.S.fetchFinallySetTimeout = true
            }, 500)
          })
        },
        promise: function () {
          new Promise(function (rs, rj) {
            vm.S.promise = true
            setTimeout(function () {
              vm.S.promiseSetTimeout = true
              Math.random() > .5 ? rs() : rj()
            }, 500)
          }).then(function () {
            vm.S.promiseThen = true
            setTimeout(function () {
              vm.S.promiseThenSetTimeout = true
            }, 500)
          }).catch(function () {
            vm.S.promiseCatch = true
          }).finally(function () {
            vm.S.promiseFinally = true
            setTimeout(function () {
              vm.S.promiseFinallySetTimeout = true
            }, 500)
          })
        }
      },
      mounted: function () {
        vm.setTimeout()
        vm.xhr()
        vm.fetch()
        vm.promise()
      }
    })

    addEventListener('message', function (e) {
      document.title = e.data
    })
  </script>
</body>

</html>