<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>component</title>
  <script src="../vm.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
</head>

<body>

  <div id="app">
    <input v-model="model"> {{model}}
    <hello v-if="model"></hello>
    <hello></hello>
    <div>
      <span></span> <span></span>
      <hello v-for="item in model">{{item}}</hello>
    </div>
  </div>

  <script type="x">
    c('div', [
      c('input')
      hello.render()
    ])
  </script>

  <script>
    Vue.component('hello', {
      props: {
        name: String
      },
      data: function () {
        return {
          n: 0
        }
      },
      template: `
      <button @click="n++">{{n}} ++</button>
      `,
      methods: {
        click: function () {
          this.n += 1
        }
      },
      mounted: function () {
        console.log('component mounted')
      },
      destroyed: function () {
        console.log('component destroyed')
      }
    })
    var vm = new Vue({
      el: '#app',
      template: app.outerHTML,
      xrender: function (c) {
        return c('hello', ['abc'])
      },
      data: {
        model: 'hello vm.js'
      }
    })
  </script>
</body>

</html>