<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>svg</title>
  <script src="../vm.js"></script>
  <style>
    rect {
      fill: #0af;
      transition: .5s;
    }
  </style>
</head>

<body>

  <div id="app">
    <svg width="400" height="400">
      <rect v-for="(item,i) in list" x="0" :y="i*40" :width="item" :height="20" />
      <rect v-for="(item,i) in list" :x="i*40" :y="0" :width="20" :height="item" />
    </svg>
  </div>

  <script>
    var vm = new Vue({
      el: '#app',
      el: app,
      data: {
        list: []
      },
      methods: {
        update: function () {
          this.list = []
          for (var i = 0; i < 10; i++) {
            this.list.push(Math.random() * (400 - 20))
          }
          setTimeout(function () {
            vm.update()
          }, 1000)
        }
      },
      mounted: function () {
        this.update()
      }
    })
  </script>
</body>

</html>