<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>todo list</title>
  <script src="../vm.js"></script>
  <style>
    .done{
      color: #aaa;
      text-decoration: line-through
    }
  </style>
</head>

<body>

  <div id="app">

    <input v-model="input" @keyup.enter="add" placeholder="enter input">

    <ul>
      <li v-for="(item,index) in list" :class="{done:item.done}">

        <label>
          <input type="checkbox" v-model="item.done">
          <span>{{item.content}}</span>
        </label>

        <button v-if="item.done" @click="remove(index)" type="button">x</button>

      </li>
    </ul>

  </div>

  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        input: '',
        list: [
          {content:'todo1', done:false}
        ]
      },
      methods: {
        add: function () {
          vm.list.push({content: vm.input})
          vm.input = ''
        },
        remove: function (index) {
          vm.list.splice(index, 1)
        }
      }
    })
  </script>
</body>

</html>